$time = 1s

.orientation-n {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;

  transition: transform $time;
  -moz-transition: transform $time; 
  -webkit-transition: transform $time; 
}

.orientation-e {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;

  transition: transform $time;
  -moz-transition: transform $time; 
  -webkit-transition: transform $time; 
}

.orientation-s {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;

  transition: transform $time;
  -moz-transition: transform $time; 
  -webkit-transition: transform $time; 
}

.orientation-w {
  transform: rotate(270deg)
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;

  transition: transform $time;
  -moz-transition: transform $time; 
  -webkit-transition: transform $time; 
}

