.rot-0 {
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
}

.rot-90 {
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
}

.rot-180 {
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
}

.rot-270 {
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
}

