@font-face {
    font-family: 'fe_dominoesregular';
    src: url('/fe_dominoes-webfont.eot');
    src: url('/fe_dominoes-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fe_dominoes-webfont.woff') format('woff'),
         url('/fe_dominoes-webfont.ttf') format('truetype'),
         url('/fe_dominoes-webfont.svg#fe_dominoesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}