html,body
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, Arial

#board
  position: relative

.domino
  font-family: "fe_dominoesregular"
  font-size: 200px
  float: left
  text-shadow: 3px 3px 5px black
  position: absolute