head
  title Pulsar dominoes

body
  h1 Pulsar Dominoes!
  {{>board}}

template(name="board")
  #board
    input.add-domino(value="Add domino", type="button")
    div(style="clear:both")
    {{#each dominoes}}
      {{>domino}}
    {{/each}}

template(name="domino")
  .domino(class="orientation-{{orientation}}", style="left:{{pos_x}}px;top:{{pos_y}}px") 
    {{type}}

