html,body
  font-family: "Helvetica Neue", Helvetica, Arial

#board
  position: relative

.domino
  font-family: "fe_dominoesregular"
  font-size: 100px
  float: left
  text-shadow: 3px 3px 5px black
  position: absolute